.volume-slider {
    width: 150px;
}

.video-card {
    background-color: #303a42 !important;
}

.volume-icon {
    color: #818cab;
}

.volume-slider-grid {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

input[type=range] {
    height: 2px;
    border: none;
    border-radius: 3px;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    background: #3071a9;
    border: 2px solid #1b486e;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    background: #3071a9;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071a9;
}

.feedback-button {
    width: 300px;
    background-color: #0B4F6C;
    border-radius: 4px;
}

.master-button {
    width: 150px;
    display: inline-block;
    margin: 15px;
    background-color: #0B4F6C;
    border-radius: 4px;
}

.start-button {
    background-color: #0B4F6C;
    width: 150px;
}

.feedback-button:active {
    background-color: rgb(9, 68, 94);
}

.feedback-container {
    margin-top: 100px;
}

.master-slider {
    width: 300px;
    display: inline-block;
}

#log-area {
    background-color: black;
    border-radius: 0.5em;
    width: 600px;
    height: 200px;
    padding-top: 5px;
    padding-left: 15px;
    overflow-x: hidden;
    overflow-x: auto;
}

.log-message {
    margin: 0px;
    padding: 0px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.floating-emoji {
    position: fixed;
    font-size: 30px;
    bottom: -50px;
    pointer-events: none;
}

.paddingLeft {
    padding-left: 32px !important;
}

.create-new-form > * {
    margin: 13px;
}